<div class="p-[50px] w-full">
    <div class="flex w-full justify-around homeContainer1">
        <img class="homeImg" appHover src="../../../assets/png/fullBody-portarait.jpg" alt="men">
        <img  class="homeImg" appHover src="../../../assets/png/offerCard.jpg" alt="offerCard">
        <img  class="homeImg" appHover src="../../../assets/png/young-woman-beautiful-red-dress.jpg" alt="image">
    </div>
    <div class="brandedName">
        <ul>
            <li>CHANEL</li>
            <li>louis vutton</li>
            <li>PRADA</li>
            <li>Calvien Klein</li>
            <li>Denim</li>
        </ul>
    </div>
</div>