<div class="flex justify-around w-full p-[50px]">
    <p class="title">Zudio</p>
    <div >
        <ol class="flex justify-between gap-10">
            <li>Home</li>
            <li>Shop</li>
            <li>Product</li>
        </ol>
    </div>
    <div>
        <ol class="flex gap-8">
            <li><img src="../../../../assets/png/searchBar.png" alt="searchBar"></li>
            <li><img src="../../../../assets/png/accountSympol.png" alt="accountSympol"></li>
        </ol>
    </div>
</div>