.loginImg{
    max-height: 640px;
}
.title{
    font-size: 66px;
    font-family: cursive;
    line-height: 100%;
}
.loginForm{
    p{
        font-size: 30px;
        font-weight: 700;
    }
    input{
        border: 1px solid #d1d5db;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        height: 42px;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        outline: none;
    }
    label{
        font-weight: 500;
        font-size: 20px;
    }
    .Sign{
        border-radius: 10px;
        height: 60px;
        background-color: #000000;
        color: #fff;
    }
    .Register{
        border-radius: 10px;
        height: 60px;
        // border-color: #5B86E5;
        color: #5B86E5;
        border: #5B86E5 2px solid;
    }
    .forget{
        color: #5B86E5;
    }
    .terms{
        font-weight: 500;
        font-size: 14px;
    }
    
}